# Station Configuration
STATION_NAME_SHORT=BredaNu
STATION_NAME_FULL=BredaNu

# Icecast Configuration
ICECAST_SERVER=icecast.bredanu.nl
ICECAST_PORT=80
ICECAST_PASSWORD=hackme

# Fallback Configuration
FALLBACK_FILE=/audio/fallback.mp3

# Upstream Configuration
UPSTREAM_PASSWORD=foxtrot-uniform-charlie-kilo

# StereoTool Configuration
STEREOTOOL_LICENSE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Dutch Media Exchange (DME) Configuration
DME_INGEST_A_HOST=xxxxxxx
DME_INGEST_A_PORT=0000
DME_INGEST_A_USER=xxxx
DME_INGEST_A_PASSWORD=xxxxx

DME_INGEST_B_HOST=xxxxxxx
DME_INGEST_B_PORT=0000
DME_INGEST_B_USER=xxxx
DME_INGEST_B_PASSWORD=xxxxx

DME_MOUNT=/xxxx

# ODR-AudioEnc Configuration
ODR_AUDIOENC_BITRATE=96
ODR_AUDIOENC_EDI_URL=tcp://localhost:6000

# Silence Detection Configuration
MAX_BLANK=15.0
MIN_NOISE=15.0