name: zwfm-liquidsoap
services:
  liquidsoap:
    image: savonet/liquidsoap:v2.3.0
    container_name: liquidsoap
    volumes:
      - ./scripts:/scripts
      - ./audio:/audio
    environment:
      - TZ=Europe/Amsterdam
    ports:
      - "8888:8888/udp" # SRT Input 1
      - "9999:9999/udp" # SRT Input 2
    command: /scripts/radio.liq
    restart: unless-stopped
    user: "10000:10001"
