---
name: zwfm-liquidsoap
services:
  liquidsoap:
    image: ghcr.io/oszuidwest/zwfm-liquidsoap:2.4.2-next
    container_name: liquidsoap
    volumes:
      - ./scripts:/scripts
      - ./audio:/audio
      - ./silence_detection.txt:/silence_detection.txt
      - ./stereotool:/var/cache/liquidsoap/
    environment:
      - TZ=Europe/Amsterdam
    env_file:
      - .env
    ports:
      - '0.0.0.0:8080:8080' # StereoTool GUI (TCP)
      - '0.0.0.0:8888:8888/udp' # SRT Input 1
      - '0.0.0.0:9999:9999/udp' # SRT Input 2
    command: /scripts/radio.liq
    restart: unless-stopped
    user: "liquidsoap:liquidsoap"
