[Unit]
Description=Liquidsoap daemon
After=network.target
Documentation=https://www.liquidsoap.info/

[Service]
Type=simple
User=liquidsoap
ExecStart=/usr/bin/liquidsoap /etc/liquidsoap/radio.liq
Restart=always

[Install]
WantedBy=multi-user.target
