[Unit]
Description=Liquidsoap
After=network.target
Documentation=http://liquidsoap.fm/

[Service]
Type=forking
User=liquidsoap
PIDFile=/run/liquidsoap.pid
WorkingDirectory=/etc/liquidsoap/
ExecStart=rm /run/liquidsoap.pid; touch /var/run/liquidsoap.pid; /usr/bin/liquidsoap /etc/liquidsoap/radio.liq
ExecStop=cat /run/liquidsoap.pid | xargs kill
Restart=always

[Install]
WantedBy=multi-user.target
Alias=liquidsoap.service
