[Unit]
Description=Liquidsoap
After=network.target
Documentation=http://liquidsoap.fm/

[Service]
Type=simple
User=liquidsoap
WorkingDirectory=/etc/liquidsoap/
ExecStart=/usr/bin/liquidsoap /etc/liquidsoap/radio.liq -d
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
Alias=liquidsoap.service
