name: Cleanup Container Registry

on:
  schedule:
    - cron: '0 3 * * 0'
  workflow_dispatch:

jobs:
  cleanup:
    name: Delete untagged images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Delete untagged versions
        uses: actions/delete-package-versions@v5
        with:
          package-name: 'zwfm-liquidsoap'
          package-type: 'container'
          delete-only-untagged-versions: 'true'
          min-versions-to-keep: 0
