name: Docker Compose linter
on:
  push:
    branches:
      - main
    paths:
      - 'docker-compose.yml'
      - 'docker-compose.stereotool.yml'
      - 'docker-compose.dabplus.yml'
  pull_request:
    paths:
      - 'docker-compose.yml'
      - 'docker-compose.stereotool.yml'
      - 'docker-compose.dabplus.yml'
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install DCLint
        run: npm install -g dclint

      - name: Run DCLint
        run: dclint .
