name: Prettier Liquidsoap

on: 
  push:
    paths:
      - '**.liq'
  pull_request:
    paths:
      - '**.liq'

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: |
          npm install -D prettier liquidsoap-prettier

      - name: Run Prettier on Liquidsoap Files
        run: |
          npx liquidsoap-prettier -w "**/*.liq"

      - name: Commit changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add -A
          git commit -m "Format .liq files with Prettier" || echo "No changes to commit"
          git push
